body {
    background-color:#F5F5F5;
    color: #40464C;
}

h1 {
    background-color: #93A8AC;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    border-radius: 3px;
}

button {
    background-color: #93A8AC;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    font-size: 15px;
    color: #40464C;
}

input {
    padding: 10px;
    border-radius: 5px;
}

input[type='radio'] {
    padding: 50px;
    background-color: aquamarine;
}

label {
    font-size: 18px;
}

p {
    font-size: 18px;
}

a {
    background-color: #93A8AC;
    padding: 7px;
    text-decoration: none;
    color: #40464C;
    border-radius: 5px;
    margin-right: 8px;
}

nav {
    margin-top: 20px;
}

a:hover {
    background-color: #DD9DA1;
}

button:hover {
    background-color: #DD9DA1;
}

img {
    height: 200px;
}
