body {
    background-color:#F5F5F5;
    color: #40464C;
}

h1 {
    background-color: #93A8AC;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    border-radius: 3px;
}

button {
    background-color: #93A8AC;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    font-size: 15px;
    color: #40464C;
}

input {
    padding: 8px;
    border-radius: 5px;
}

label {
    font-size: 18px;
}

p {
    font-size: 18px;
}

a {
    font-size: 14px;
    text-decoration: none;
    color: #40464C;
    margin: 3px;
    padding: 7px 7px;
    margin-bottom: 15px;
    text-transform: uppercase;
    border-radius: 40px;
    box-shadow: -2px -2px 8px rgba(255,255,255,0.3),
                -2px -2px 12px rgba(255,255,255,0.2),
                inset 2px 2px 4px rgba(255,255,255,0.1),
                2px 2px 8px rgba(0,0,0,0.2);
}

a:hover {
    transition: ease-in 10s;
    box-shadow: inset -2px -2px 8px rgba(255,255,255,1),
                inset -2px -2px 12px rgba(255,255,255,0.5),
                inset 2px 2px 4px rgba(255,255,255,0.1),
                inset 2px 2px 8px rgba(0,0,0,0.2);
}

a:hover span {
    transform: scale(0.96);
    display: inline-block;
}

nav {
    margin-top: 20px;
}

button:hover {
    background-color: #DD9DA1;
}

img {
    height: 200px;
}
